@page "/artistas/novo"
@using BlazorAutoCleanArch.Aplicacao.DTOs.Requests
@using BlazorAutoCleanArch.Aplicacao.Servicos.Interfaces
@inject IArtistasAppServico _artistasAppServico

<h3>Inserir</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var artista = new ArtistaInserirRequest("Avenged Sevenfold", Dominio.Enumeradores.GeneroMusicalArtistaEnum.Metal);
        var resultado = await _artistasAppServico.InserirAsync(artista);
    }
}
